[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gdown = "*"
unzip = "*"
seaborn = "*"
scikeras = "*"
opencv-python-headless = "*"
scikit-learn = "*"
numpy = "==1.22"
scikit-image = "*"
keras-tuner = "*"
scipy = "*"
tensorflow = "*"
jupyter = "*"
ipykernel = "*"
gradio = "*"
fastapi = "*"
uvicorn = "==0.15.0"
jinja2 = "==3.0.3"
pydantic = "==1.8.0"
sentencepiece = "*"

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.9"
