[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scikit-learn = "*"
nltk = "*"
fastapi = "*"
uvicorn = "*"
wandb = "*"
torch = "*"
pandas = "*"
xgboost = "*"
matplotlib = "*"
seaborn = "*"
gradio = "*"
joblib = "*"

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.9"
